@page "~/início" @*stays as the url name. ps using url like this is needed to pay atention in the href's,
    to make it easyer use asp-page="" instead of href*@
@model MyRazorApp.Pages.Index
@{
    ViewData["Title"] = "Início";
}
@*the html skeleton is contained on _Layout.cshtml*@
<h1>Categories</h1>
